.drive_container {
  padding: 40px;
  min-height: 75vh;
  margin-top: 20px;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255) 45%, #fcb69f 100%);
}

.post_btn {
  background-color: #e74c3c;
  margin-right: 20px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.post_btn:hover {
  background-color: #c0392b;
}

.drive {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.poster {
  width: 250px;
  overflow: hidden;
}

.poster:hover {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}
.poster img {
  width: 100%;
  height: 150px;
  display: block;
}

.drive_info {
  padding: 20px;
  font-size: 1.1rem;
  flex: 1;
}

.drive_info div {
  margin-bottom: 10px;
}

.drive_info strong {
  font-weight: bold;
  color: #3498db;
  padding: 0.2rem;
}

.drive_post_cont {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  border: 2px solid #27ae60;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding: 20px;
  background-color: white;
}

.reg_btn {
  background-color: #27ae60;
  align-self: center;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right:20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.reg_btn:hover {
  background-color: #64d877;
}
.heading {
  color: #e74c3c;
  text-align: center;
  margin-bottom: 10px;
}

.drive_post_cont h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #34495e;
}

.drive_details {
  position: absolute;
  width: 80%;
  top: 30%;
  left: 10%;
  padding: 1rem;
  background-color: rgb(252, 252, 252);
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .drive {
    flex-direction: column;
  }

  .poster {
    width: 100%;
    height:60%;
  }

  .drive_post_cont {
    width: 95%;
    margin: 10px auto;
  }

  
}
