.background {
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 45%,
    #fcb69f 100%
  );
  flex: 1;;
  padding: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.not_found {
  min-height: 50vh;
}

.requestList {
  list-style: none;
  padding: 0;
}

.requestItem {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
}

.requestTitle {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.requestDetails p {
  margin-bottom: 8px;
}

.detailLabel {
  color: #007bff;
  margin-right: 10px;
  font-weight: 700;
}

.reg_btn {
  background-color: #27ae60;
  align-self: center;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
