.drive_post_cont {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.container {
  text-align: center;
  padding: 40px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 45%,
    #fcb69f 100%
  );
}

.heading {
  text-align: center;
  margin-bottom: 10px;
  color: #d32f2f;
}

.subHeading {
  text-align: center;
  margin-bottom: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.label {
  margin-top: 10px;
  font-weight: bold;
}

.input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.autocomplete {
  position: relative;
}

.suggestionsList {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 10;
}

.suggestionItem {
  padding: 8px;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: #f0f0f0;
}

.contactHeading {
  margin-top: 20px;
}

.submitButton {
  background-color: #d32f2f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: #b71c1c;
}
