.slogan {
  text-align: center;
  opacity: 0;
  animation: slideRight 1s ease-in 1s forwards;
}


@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.home_container {
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 45%,
    #fcb69f 100%
  );
}

.app_info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 1.3rem;
  padding: 80px 50px;
  background-color: #E12431;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.app_info > div {
  color: #494949;
  cursor: pointer;
  font-family: "Roboto";
  width: 250px;
  text-align: center;
  padding: 15px 15px;
  background-color: #ffc7cb;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem 2rem;
}

.app_info div {
  display: inline-block;
  position: relative;
}

.underline {
  position: absolute;
  left: 0;
  width: 80%;
  transform: translateX(-50%);
  height: 1px;
  background-color: #cb1e1e;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
}

.app_info > div:hover .underline {
  transform: scaleX(1);
}

.app_info div:hover {
  color: #cb1e1e;
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
  transform: scale(1.05);
}
.i1,
.i2 {
  font-size: 5rem;
  font-weight: 700;
  color: #d32f2f;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.lottieAnimation {
  height: 90vh;
}

.slogans {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.slogans > div {
  width: 12%;
  min-height: 120px;
  background-color: rgb(12, 11, 11);
  margin: 5%;
  font-size: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(49, 31, 31, 0.2);
  color: #EA4550;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  padding: 50px 3% 5% 3%;
}

.slogans > div:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(223, 2, 2, 0.589);
  transition: transform 0.3s ease-in-out;
}


.faqsHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.faqsHeader > div:first-child,
.faqsHeader > div:last-child {
  flex-grow: 1;
  height: 1px;
  background-color: #E12431;
}

.faqsHeader .myDiv {
  padding: 0 10px;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 800;
}

.faqs {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.faqs div {
  padding: 10px;
  font-size: 1rem;
  background-color: #e3e3e3;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(98, 41, 41, 0.2);
}

.faqs h3 {
  color: #E12431;
}
.faqs p {
  font-size: 1.2rem;
  color: #1e1e1e;
}
@media (max-width: 768px) {
  .i1
   {
    font-size: 3rem;
  }
  .i2{
    font-size: 2.5rem;
  }
  .slogan {
    animation: slideDown 0.5s ease-in 1s forwards;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  .imageContainer {
    flex-direction: column;
  }
  .underline {
    top: 8px;
  }
  .lottieAnimation {
    height: 50vh;
    width: 450%;
  }

  .slogans > div {
    width: 70%;
    padding-top: 30px;
  }
  .app_info {
    flex-wrap: wrap;
    font-size: 1.1rem;
  }
  .app_info div {
    margin-bottom: 20px;
    top: 5px;
  }

  .faqs {
    flex-wrap: wrap;
    margin: 0px 20px;
    margin-top: 10px;
  }
}
