.loading_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  margin-bottom: 15rem;
  position: relative;
  overflow: hidden; 
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(245, 140, 140, 0.2);
  border-top: 4px solid rgb(201, 57, 57); 
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
